body, html {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 100px;
    margin: 30px auto 30px;
    color: white;
    text-shadow: 15px 3px 25px black;
}

.title span {
    font-size: 140px
}

canvas {
    border: 5px solid white;
}

.elements {
    margin-top: 20px;
}

#start-btn {
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    padding: 2px 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

#start-btn:hover {
    border: 2px solid white;
    background-color: black;
    color: #39FF14;
    box-shadow: rgba(217, 255, 0, 0.425) 0px 10px 15px;
}

#inicio {
    background-image: url('../images/bgstart.jpg');
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin-top: -800px;
    text-align: center;
    height: 800px;
    width: 1000px;
    border: 5px solid white;
}

.menu-btns {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.menu {
    font-family: 'VT323', monospace;
    background-color: black;
    margin: 25px auto;
    padding: 5px;
    width: 350px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 25px red;
    border-radius: 10px;
    border: 5px solid white;
}

.menu:hover {
    text-shadow: 0px 0px 25px blue;
    color: #fe019a;
    box-shadow: #fe019a 0px 10px 15px;
}

#about {
    background-image: url('../images/bgstart.jpg');
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin-top: -810px;
    text-align: center;
    height: 800px;
    width: 1000px;
    border: 5px solid white;
    padding: 0 100px;
}

#about p {
    font-size: 30px;
    color:white;
    margin: 10px 0;
}

.invisible {
    visibility: hidden;
}

#how {
    background-image: url('../images/bgstart.jpg');
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin-top: -810px;
    text-align: center;
    height: 800px;
    width: 1000px;
    border: 5px solid white;
    padding: 0 80px;
}

#how p {
    font-size: 30px;
    color:white;
    margin: 10px 0;
}

#how li {
    font-size: 30px;
    color:white;
    list-style: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#keys {
    width: 200px;
    height: 120px;
    margin-left: 50px;
}